# templates/secrets/basic-auth-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: {{ jenkins_secret_name }}  # Usar directamente la variable de main.yml
  namespace: {{ jenkins_namespace }}  # Usar directamente la variable de main.yml
type: Opaque
data:
  users: {{ basic_auth | b64encode }}  # Codificar basic_auth en base64