# templates/secrets/basic-auth-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}    # Aquí se asigna correctamente el nombre del secret
  namespace: {{ namespace_tpl }}
type: Opaque
data:
  users: {{ basic_auth }}    # Se asegura de que basic_auth esté correctamente pasado