# templates/secret/jenkins-admin-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: {{ jenkins_admin_secret_name }}
  namespace: {{ jenkins_namespace }}
type: Opaque
stringData:
  {{ jenkins_admin_user_key }}: "{{ jenkins_auth_user_ui }}"
  {{ jenkins_admin_pass_key }}: "{{ jenkins_auth_pass_ui_bcrypt }}"