# templates\jenkins-dashboard-middleware.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ jenkins_middleware_name }}  # Usamos correctamente la variable desde main.yml
  namespace: {{ jenkins_namespace }}  # Aseguramos que se pasa el namespace adecuado
  labels:
    app.kubernetes.io/name: jenkins
    app.kubernetes.io/component: middleware
    environment: prod
    access: internal
  annotations:
    created-by: ansible
    maintained-by: devops@socialdevs.site
spec:
  basicAuth:
    secret: {{ jenkins_secret_name }}  # Se asegura que el nombre del Secret se pase correctamente
    realm: "Jenkins Dashboard"
    removeHeader: true