# templates\jenkins-dashboard-ingressroute.yaml.j2
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins-dashboard-ingress
  namespace: {{ jenkins_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/auth-type: basic
    traefik.ingress.kubernetes.io/auth-secret: jenkins-auth-secret
spec:
  rules:
    - host: "{{ jenkins_dashboard_domain }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jenkins
                port:
                  number: 8080