# templates\jenkins\ingress_values.yaml.j2
controller:
  ingress:
    enabled: true
    hostName: "{{ jenkins_ingress_host }}"
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      traefik.ingress.kubernetes.io/router.middlewares: default-auth@kubernetescrd
    tls:
      - hosts:
          - "{{ jenkins_ingress_host }}"
