# templates/jenkins/values.yaml.j2
controller:
  image:
    repository: jenkins/jenkins
    tag: "2.518-jdk21"
    pullPolicy: IfNotPresent

  serviceType: ClusterIP
  servicePort: 8080
  targetPort: 8080

  ingress:
    enabled: false

  installWizard: false

  # --- Variables de entorno para credenciales desde Secrets Kubernetes -----
  containerEnv:
    - name: JENKINS_ADMIN_USER
      valueFrom:
        secretKeyRef:
          name: jenkins-admin
          key: jenkins-admin-user
    - name: JENKINS_ADMIN_PASSWORD_HASH
      valueFrom:
        secretKeyRef:
          name: jenkins-admin
          key: jenkins-admin-password
    - name: DOCKERHUB_USERNAME
      valueFrom:
        secretKeyRef:
          name: dockerhub-credentials
          key: username
    - name: DOCKERHUB_TOKEN
      valueFrom:
        secretKeyRef:
          name: dockerhub-credentials
          key: password
    - name: GITHUB_TOKEN
      valueFrom:
        secretKeyRef:
          name: github-ci-token
          key: token

  # --- JCasC ---------------------------------------------------------------
  JCasC:
    enabled: true
    configScripts:
      01-security.yaml: |
        jenkins:
          securityRealm:
            local:
              allowsSignup: false
              users:
                - id: "{{ jenkins_auth_user_ui }}"
                  password: "{{ jenkins_auth_pass_ui }}"
          authorizationStrategy:
            loggedInUsersCanDoAnything:
              allowAnonymousRead: false
      02-credentials.yaml: |
        credentials:
          system:
            domainCredentials:
              - credentials:
                  - usernamePassword:
                      id: "dockerhub-credentials"
                      username: "${DOCKERHUB_USERNAME}"
                      password: "${DOCKERHUB_TOKEN}"
                      description: "DockerHub Access Token for CI/CD"
                  - usernamePassword:
                      id: "github-ci-token"
                      username: "dummy"
                      password: "${GITHUB_TOKEN}"
                      description: "GitHub Token for CI/CD Jobs"

  # --- Plugins necesarios --------------------------------------------------
  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - docker-workflow
    - blueocean
    - configuration-as-code
    - credentials-binding
    - ssh-credentials
    - credentials
    - plain-credentials
    - github-oauth
    - role-strategy
  overwritePlugins: true

  # --- Recursos -----------------------------------------------------------
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: "2"
      memory: 4Gi