# playbooks\deploy_jenkins_stack.yml
---
- name:  Generar y aplicar SealedSecret de autenticaci贸n para Jenkins
  import_playbook: 01_generate-auth-secret.yml

- name: З Renderizar y aplicar Middleware + IngressRoute para Jenkins
  import_playbook: 02_render_and_apply_jenkins_ingress.yml

- name:  Instalar Jenkins con Helm
  import_playbook: 03_install_jenkins.yml

- hosts: localhost
  tasks:
    - name: Validar que kubeconfig est茅 definido
      assert:
        that: kubeconfig_path is defined
        msg: "kubeconfig_path no definido"

    - name: Validar credenciales de autenticaci贸n
      assert:
        that:
          - jenkins_auth_user is defined
          - jenkins_auth_pass is defined
        msg: "Credenciales de autenticaci贸n no definidas."

    - name: Comprobar acceso al Dashboard de Jenkins
      shell: >
        curl --http1.1 -k -u {{ jenkins_auth_user }}:{{ jenkins_auth_pass }}
        https://{{ jenkins_dashboard_domain }}/
        --max-time 10 --silent --output /dev/null --write-out '%{http_code}'
      register: dashboard_status
      retries: 3  # N煤mero de reintentos
      delay: 5  # Retardo entre los intentos (en segundos)
      changed_when: false
      failed_when: dashboard_status.stdout not in ['200','302','307','401']

    - name: Mostrar resultado HTTP
      debug:
        msg: "C贸digo HTTP recibido: {{ dashboard_status.stdout }}"